.item {
  display: flex;
  padding-left: 10px;
}

.folder {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid grey;
  background-color: rgb(219, 219, 219);
  gap: 10px;
}

.folder-parent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.file {
  border: 1px solid grey;
}

.App {
  display: flex;
}
.new-file {
  padding-left: 10px;
  cursor: pointer;
}
